<html>
    <head>
        <meta charset="utf-8">
        <script type="text/javascript" src="assets/account-{{digest}}.js" charset="utf-8"></script>
        <link href="assets/account-{{digest}}.css" media="all" rel="stylesheet" type="text/css" />
    </head>
    <body>
      {{> _header name="hello" }}

      <p>account</p>

      {{> _footer }}

    </body>
</html>
